<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Tracker Controller</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>AudioComponents</key>
			<array>
				<dict>
					<key>description</key>
					<string>Tracker Controller</string>
					<key>manufacturer</key>
					<string>POLY</string>
					<key>name</key>
					<string>Polyend: Tracker Controller</string>
					<key>subtype</key>
					<string>TCTR</string>
					<key>type</key>
					<string>aumu</string>
					<key>version</key>
					<integer>65536</integer>
					<key>factoryFunction</key>
					<string>TrackerControllerAudioUnitFactory</string>
					<key>sandboxSafe</key>
					<true/>
					<key>tags</key>
					<array>
						<string>MIDI</string>
						<string>Controller</string>
						<string>Tracker</string>
					</array>
				</dict>
			</array>
			<key>AudioComponentBundle</key>
			<string>com.polyend.TrackerControllerFramework</string>
		</dict>
		<key>NSExtensionMainStoryboard</key>
		<string>MainInterface</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.AudioUnit-UI</string>
		<key>NSExtensionPrincipalClass</key>
		<string>TrackerControllerFramework.AudioUnitViewController</string>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
</dict>
</plist> 